/* START BACKEND */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: #171717;
    background-position: center;
    background-size: cover;
    position: relative;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #171717;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}
/* END BACKEND */



/* START NAVBAR */
nav{
    z-index: 9;
    display: flex;
    padding: 0.6% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    margin-left: -65%;
    width: 45px;
    border-radius: 50%;
}
.nav-links{
    z-index: 9;
    flex: 1;
    text-align: right;
    margin-right: -2%;
}
.nav-links ul li{
    z-index: 9;
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    z-index: 9;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/* END NAVBAR */



.homepage-lec-h1 h1{
    padding-top: 8%;
    margin-left: 48%;
    color: white;
    font-size: 35px;
    font-family: 'Poppins', 'sans serif';
    font-weight: 100;
}

body {
    display: grid;
    height: 100%;
    place-items: center;
    background: rgba(3, 6, 6, 0.306);
    width: 100%;
  }



/* START CARD LEAGUE */
.carte{
  position: relative;
  display: inline-block;
  margin: 0.2%;
  margin-left: 4.5%;
  margin-bottom: 2%;
  height: 300px;
  width: 500px;
  background: #fff;
  overflow: hidden;
  border-radius: 3%;
}

.carte .image{
  top: 0;
  left: 0;
  margin-left: 5%;
  width: 90%;
  height: 100%;
}
.carte .image img{
  margin-top: 1%;
  height: 90%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.carte:hover .image img{
  transform: scale(1.1);
}
  /* END CARD LEAGUE */



  /* FOOTER */
.footer{
    width: 100%;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 15px;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 450;
}
/* END FOOTER */